h2.separator {
	border-top: 1px solid #000;
}
h2.writeboard {
	color: #999;
}
ul.gallery {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
ul.gallery li {
	margin-left: 0;
	padding-left: 0;
	float: left;
	display: block;
	padding-right: 10px;
}
ul.gallery:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}