<% if gallery.name.present? && gallery.name != "Gallery" %>
<h2><%= textilize_without_paragraph gallery.name %></h2>
<% end %>		

<ul class="gallery">
	<% gallery.images.each do |image| %>
	<li>
		<a href="<%= image.url %>">
			<img src="<%= image.url(:thumbnail) %>" alt="<%=h image.description %>" />
		</a>
	</li>
	<% end %>
</ul>